<div id="<%= msg_type.downcase %>" class="row">
	<%= content_tag :h3, "#{msg_type} Messages", class: 'span4' %>

	<% if params[:action] != 'print_entry' && params[:action] != 'print' %>
		<div class="msg-buttons <%= btn_class(@order) %>">
			<%= message_buttons(msg_type, @entry, @order) %>
		</div>
	<% end %>

	<% if messages.present? %>
		<%= content_tag :dl do %>
			<%= nested_messages messages.arrange(order: :created_at) %>
		<% end %>
	<% else %>
		<%= content_tag :h6, "No #{msg_type} messages yet.", class: 'span12' %>
	<% end %>
</div>

