<div id="<%= msg_type.downcase %>" class="row">
	<%= content_tag :h3, "#{msg_type} Messages", class: 'span4' %>

	<div id="" class="msg-buttons span5 ">
		<%= message_buttons(msg_type, @entry, @order) %>
	</div>

	<% if messages.present? %>
		<%= content_tag :dl do %>
			<%= nested_messages messages.arrange(order: :created_at) %>
		<% end %>
	<% else %>
		<%= content_tag :h6, "No #{msg_type} messages yet.", class: 'span12' %>
	<% end %>
</div>
