<% title 'Car Variants' %>

	<%= search_form_for @q, url: request.path, html: {class: 'well form-inline'} do |f| %>
	  <%= content_tag :b, 'Brand' %>
	  <%= f.collection_select :car_brand_id_matches, @brands, :id, :name, include_blank: true %>
		<%= f.submit 'Search', class: 'btn btn-primary' %>
		<%= refresh_button %>
	<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Model</th>
      <th>ID</th>
      <th>Name</th>
      <th>Count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @car_variants.group_by(&:car_brand).each do |brand, car_variants| %>
			<tr><%= content_tag :td, brand.name, colspan: 5, class: 'label label-info' %></tr>
			<% car_variants.group_by(&:car_model).each do |cmodel, cvs| %>
				<tr>
					<%= content_tag :td, cmodel.name, rowspan: cvs.count + 1 %>
				</tr>
				<% cvs.each do |car_variant| %>
	      <tr>
	        <td><%= car_variant.id %></td>
	        <td><%= link_to car_variant.name, car_variant_path(car_variant) %></td>
	        <td><%= car_variant.entries.count %></td>
	        <td>
	          <%= link_to 'Edit', edit_car_variant_path(car_variant), :class => 'btn btn-mini' %>
	          <%= link_to 'Destroy', car_variant_path(car_variant), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
	        </td>
	      </tr>
				<% end %>
			<% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @car_variants %>

<%= link_to 'New', new_car_variant_path, :class => 'btn btn-primary' %>
