<p id="notice"><%= notice %></p>

<p>
  <b>Car brand:</b>
  <%= @car_variant.car_brand_id %>
</p>

<p>
  <b>Car model:</b>
  <%= @car_variant.car_model_id %>
</p>

<p>
  <b>Name:</b>
  <%= @car_variant.name %>
</p>

<p>
  <b>Start year:</b>
  <%= @car_variant.start_year %>
</p>

<p>
  <b>End year:</b>
  <%= @car_variant.end_year %>
</p>

<p>
  <b>Creator:</b>
  <%= @car_variant.creator_id %>
</p>


<%= link_to 'Edit', edit_car_variant_path(@car_variant) %> |
<%= link_to 'Back', car_variants_path %>
