<%= simple_form_for @branch, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Branch</legend>

		<%= f.association :company %>
		<%= f.input :name %>
 		<%= f.input :address1 %>
 		<%= f.input :address2 %>
 		<%= f.input :zip_code %>
		<%= f.association :city %>
    <%= f.input :approver_id, collection: Company.includes(:users), as: :grouped_select, group_label_method: :nickname, group_method: :users, label_method: :username, include_blank: true %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', branches_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
