<% title 'Branches' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company</th>
      <th>Branch</th>
		  <th>Address</th>
		  <th>Approver</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.id %></td>
        <td><%= link_to branch.company.nickname, branch.company %></td>
        <td><%= link_to branch.name, branch_path(branch) %></td>
				<td><%= branch.address1 %><br><%= branch.address2 %><br><%= branch.city.name %></td>
		    <td><%= branch.approver.profile if branch.approver.present? %></td>
        <td>
          <%= link_to 'Edit', edit_branch_path(branch), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', branch_path(branch), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_branch_path, :class => 'btn btn-primary' %>
