<h1>Branch</h1>

<p>
  <b>Company</b><br>
  <%= @branch.company_id %>
</p>

<p>
  <b>Name</b><br>
  <%= @branch.name %>
</p>

<p>
  <b>Address1</b><br>
  <%= @branch.address1 %>
</p>

<p>
  <b>Address2</b><br>
  <%= @branch.address2 %>
</p>

<p>
  <b>Zip code</b><br>
  <%= @branch.zip_code %>
</p>

<p>
  <b>City</b><br>
  <%= @branch.city_id %>
</p>

<p>
  <b>Approver</b><br>
  <%= @branch.approver_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', branches_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_branch_path(@branch), :class => 'btn' %>
  <%= link_to 'Delete', branch_path(@branch), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
