<% unless item.bids.size < 1 %>
	<div class="bids-array">
		<% item.bids.group_by(&:bid_type).each do |type, bids| %>
			<div class="cat <%= type %>">
				<% hi_bid = bids[0] %>
				<% lo_bid = bids[-1] %>

				<%= content_tag :p, class: 'small' do %>
					<%= content_tag :span, currency(hi_bid.amount), class: 'bid-amount' %>
					<%= content_tag :em, 'H' %>
				<% end %>

				<%= fields_for 'bids[]', item do |f| %>
					<%= content_tag :p, class: "#{lo_bid.status_color_for_buyer}" do %>
						<%= f.radio_button 'id', lo_bid.id if item.can_be_ordered %>
						<%= content_tag :b, currency(lo_bid.amount), class: 'bid-amount' %>
						<%= content_tag :em, 'L' %>
					<% end %>
				<% end %>
				
				<!-- provision for reorder from next lowest -->
			</div>
		<% end %>
	</div>
<% end %>
