<%= form_tag accept_bids_path, method: :post do |f| %>
<%= hidden_field_tag :entry_id, @entry.id %>

		<%= content_tag :table, class: 'table table-striped' do %>
			<%= render 'entries/thead_show' %>

				<% @entry.line_items.includes(:car_part, :bids, :order).order('status DESC').each_with_index do |item, index| %>
					<%= content_tag :tr do %>
					
						<%= content_tag :td, class: 'span4' do %>
							<%= content_tag :span, index + 1, class: 'label index'  %>
							<%= content_tag :span, item.name %>
							<%= "<br> #{content_tag :code, 'Specs: ' + item.specs, class: 'small'}".html_safe if item.specs.present? %>
							<%= content_tag :div, class: 'stats small' do %>
								<%= content_tag :b, pluralize(item.bids.collect(&:user_id).uniq.count, 'bidder') %>
								<%= content_tag :span, "| Fastest: #{time_in_words(item.bids.minimum(:bid_speed))}" if item.bids.present? %>
				 			<% end %>
						<% end %>
						
						<%= content_tag :td, class: 'span9 txtcenter' do %>
							<% if item.is_online %>
								<%= content_tag :em, 'Bidding session is ongoing.', class: 'small' %>
								<% if item.is_rebidding %>
									<%= content_tag :p, (item.bids.online.blank? ? 'No new bids' : 'New bids submitted') %>
								<% end %>
							<% else %>
								<%= render 'buyer/bid_select', item: item, f: f %>
							<% end %>
						<% end %>
						
						<%= content_tag :td, class: 'span3 txtcenter' do %>
							<%= content_tag :p, item.status, class: "label #{item.status_color}" %>
							<%= content_tag :p, "as of #{regular_date(item.updated_at)}", class: 'small' %>
							<% item.bids.group_by(&:order).each do |o, bids| %>
								<%= link_to "PO# #{o.id}", o, class: "#{'cancelled' if bids.collect(&:status).include?('Cancelled')}" if o %>
							<% end %>
						<% end %>
						
					<% end %>
				<% end %>
			
		<% end %>

<div id="links" class="well btn-toolbar">
	<div class="btn-group">
		<% if @entry.can_be_edited %>
			<%= link_to '#', class: 'btn btn-info dropdown-toggle', "data-toggle" => "dropdown" do %>
				<%= content_tag :i, '', class: 'icon-pencil icon-white' %>
				Edit
				<%= content_tag :span, '', class: 'caret' %>
			<% end %>
			<ul class="dropdown-menu">
				<%= nav_link 'Edit Entry', edit_entry_path(@entry) %>
				<%= nav_link 'Edit or Add Parts', add_line_items_path(id: @entry) %>
			</ul>
		<% end %>
	</div>
	<div class="btn-group">
		<%= link_to '#', class: 'btn dropdown-toggle', "data-toggle" => "dropdown" do %>
			<%= content_tag :i, '', class: 'icon-list' %>
			Tools
			<%= content_tag :span, '', class: 'caret' %>
		<% end %>
		<ul class="dropdown-menu">
			<%= nav_link('Parts Surrender', new_surrender_path(id: @entry)) %>
			<%= nav_link('Compute Variance', new_entry_variance_path(@entry)) %>
			<%= nav_link('Show Variance', variance_path(id: @entry)) %>
		</ul>
		<%= link_with_icon('Preview', print_entry_path(@entry), 'print') %>
	</div>
	<%= link_to "Put Online", put_online_entry_path(@entry), class: 'btn btn-success floatright' if @entry.can_online %>
	<%= link_to 'Reveal Bids', reveal_entry_path(@entry), class: 'btn btn-success floatright', confirm: 'Are you sure? You will no longer receive bids if you do this.' if @entry.can_reveal  %>
	<%= link_to 'Put Additionals Online', relist_entry_path(@entry), class: 'btn btn-success floatright' if @entry.has_additionals %>
	<%= link_to 'Relist Un-bidded', relist_entry_path(@entry), class: 'btn btn-info floatright' if @entry.can_relist %>
	<% if @entry.can_be_ordered || @entry.can_reactivate %>
		<%= content_tag :div, id: 'special-action-box', class: 'floatright' do %>
			<%= content_tag :b, 'Choose low bids first.' %>
			<%= submit_tag "Create PO", class: 'btn btn-success'  %>
		<% end %>
	<% end %>
</div>
<% end %>
