<% title "#{current_user.nickname}'s Orders #{': ' + params[:s].titleize if params[:s]}" %>

<%= content_tag :h2, class: 'row' do %>
	<%= content_tag :span, ph_currency(@all_orders.total_orders), class: 'span6' %>
	<%= display_seller_company %>
<% end %>

<%= content_tag :p, page_entries_info(@orders), class: 'muted' %>

<% if @orders.present? %>
	<%= content_tag :table, class: 'table table-condensed' do %>
		<%= render 'orders/thead_index_basic' %>
			<% @orders.group_by(&:entry).each do |entry, orders| %>

				<%= content_tag :tr do %>
					<%= content_tag :td, class: 'span4', rowspan: orders.count + 1 do %>
						<%= content_tag :p, entry.ref_no, class: 'small' %>
			      <%= content_tag :p, link_to(entry.model_name, buyer_show_path(entry))  %>
						<%= content_tag :span, entry.plate_no %>
						<%= content_tag :em, "by #{entry.user.username}", class: 'small' %>
					<% end %>
				<% end %>

				<% for order in orders %>
					<%= content_tag :tr do %>
						<%= content_tag :td, order.seller_company.nickname, class: 'span2' %>
						<%= content_tag :td, class: 'span4 txtcenter' do %>
							<%= content_tag :b, currency(order.order_total) %>
							<%= content_tag :span, pluralize(order.items_count, 'part'), class: 'small' %>
							<%= content_tag :p, link_to("PO##{order.id}", order) %>
							<% if order.messages.present? %>
							<span class='highlight'>
								<%= content_tag :i, '', class: 'icon-comment' %>
								<%= order.messages.size %>
							</span>
							<% end %>
						<% end %>
						<%= content_tag :td, class: 'span3 txtcenter' do %>
							<%= order_status_helper(order) %>
							<%= content_tag :p, "as of #{regular_date(order.status_date)}", class: 'small' %>
							<%= change_status_link(order) %>
							<%= confirm_payment_link(order, current_user) %>
							<%= payment_tag(order) %>
						<% end %>
					<% end %>
				<% end %>

			<% end %>
	<% end %>
<% end %>

<%= will_paginate @orders, inner_window: 2 %>

<% content_for :sidebar do %>
	<%= content_tag :h3, 'Search Orders' %>
	<%= search_form_for @q, :url => buyer_orders_path, class: 'search' do |f| %>
	  <%= f.label 'Plate No.' %>
	  <%= f.text_field :entry_plate_no_cont, class: 'span2' %>
	  <%= f.label 'Claim No.' %>
	  <%= f.text_field :entry_ref_no_cont, class: 'span2' %>
	  <%= f.label 'Car Brand' %>
	  <%= f.grouped_collection_select :entry_car_brand_id_eq, @car_origins, :car_brands, :name, :id, :name, {include_blank: true} %>
		<% if can? :search, :users %>
			<%= f.label 'User' %>
		  <%= f.grouped_collection_select :user_id_eq, @branches, :users, :name, :id, :shortname, {include_blank: true} %>
		<% end %>
	  <%= f.label 'Seller' %>
	  <%= f.collection_select :seller_company_id_matches, Company.where(primary_role: 3), :id, :nickname, include_blank: true %>
	  <%= content_tag :p, (f.submit 'Search', class: 'btn primary') %>
	<% end %>
<% end %>
