<%= content_tag :fieldset do %>
	<%= content_tag :legend, 'Vehicle' %>
	<div class="clearfix row">
		<%= f.input :ref_no, label: 'Claim No.', wrapper_class: 'span4' %>
		<%= f.input :date_of_loss, as: :string, input_html: {id: 'datepickers'}, wrapper_class: 'span4', placeholder: 'Click to select date', hint: 'Format: YYYY-MM-DD' %>
	</div>
	<%= f.input :vehicle, wrapper_class: 'clearfix', required: true do  %>
		<%= f.input :year_model, collection: Entry::YEAR_MODELS, label: false, wrapper_html: { id: 'veh-year' }, prompt: 'Select Year' %>
		<%= f.input :car_brand, label: false, wrapper_html: { id: 'veh-brand' } do %>
		  <%= f.grouped_collection_select :car_brand_id,  @car_origins, :car_brands, :name, :id, :name, :include_blank => 'Select Brand' %>
			<%= f.hint 'example: Toyota' %>
		<% end %>
		<%= f.input :car_model_id, collection:  @car_models, label: false, wrapper_html: { id: 'veh-model' }, :include_blank => 'Select Model/Type', hint: 'example: Fortuner' %>
		<%= f.input :car_variant_id, collection:  @car_variants, label: false, wrapper_html: { id: 'veh-variant' }, :include_blank => 'Select Variant', hint: 'example: 2.5 G AT' %>
		<%= link_to 'Click here', new_car_variant_path %>
	<% end %>
	<div class="clearfix row">
		<%= f.input :plate_no, label: 'Plate Number', hint: "#{content_tag :strong, 'Proper format: XYZ-123'} (except diplomatic plates or conduction stickers)".html_safe, wrapper_class: 'span3' %>
		<%= f.input :serial_no, label: 'Serial Number', hint: 'Make sure you put 17 digits here (international standard).', wrapper_class: 'span3' %>
		<%= f.input :motor_no, label: 'Motor Number', wrapper_class: 'span3' %>
	</div>
	<div class="clearfix row">
		<%= f.input :deliver_to, required: true, wrapper_class: 'span6' do %>
			<%= f.input :region, collection: @regions, label: false, wrapper_html: { id: 'regions' }, prompt: 'Select Region' %>
			<%= f.input :city_id, collection: @cities, label: false, wrapper_html: { id: 'cities' }, prompt: 'Select Location' %>
		<% end %>
		<%= f.association :term, label: 'Credit Term Request', collection:  Term.all.map{ |t| [t.term_name, t.id]}, prompt: 'Select Term', wrapper_class: 'span3'  %>
	</div>
<% end %>

<%#= render 'entries/attach_photos', f: f %>
<%= content_tag :fieldset, class: 'photouploads' do %>
	<%= content_tag :legend, 'Photos' %>
		<%= f.fields_for :photos do |photo|  %>
			<% unless photo.object.new_record?  %>
				<% if photo.object.processing == false %>
				<%= image_tag photo.object.photo.url(:tiny), class: "span1" %>
				<% else %>
				<%= image_tag 'image_placeholder.png', class: "thumbnail", :alt => "Photo of #{@entry.plate_no}" %>				
				<% end %>
			<% end %>
		
			<%= photo.input :photo, :as => :file %>
			<%= photo.link_to_remove "x", class: 'close' %>
		<% end %>
		<%= f.link_to_add "#{content_tag :i, '', class: 'icon-picture icon-white' } Add Another Photo".html_safe, :photos, class: 'btn btn-primary' %>
<% end %>

<%= render 'misc_details', f: f  %>
<%#= render 'edit_parts_list', f: f %>

<div class="well">
  <%= f.button :submit, class: 'btn-primary floatright'  %>
	<%= link_to "Cancel", :back, class: 'btn', type: 'reset' %>
</div>

<% content_for :javascripts do %>
	<% stylesheet 'blitzer/jquery-ui-1.8.6.custom' %>
	<%= javascript_include_tag 'jquery_nested_form', 'rails.validations' %>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		$('#datepicker').datepicker({ 
				dateFormat: "yy-mm-dd",
				maxDate: 0,
				numberOfMonths: 2,
				showButtonPanel: true, 
				showOn: "both",
				buttonImage: '/assets/calendar.gif',
				buttonImageOnly: true
		});
	});
	</script>
<% end %>
