<% if current_user && current_user.role?(:admin) %>
	<%= content_tag :fieldset do %>
		<%= content_tag :legend, 'Others' %>
		<%= content_tag :div, class: 'row' do %>
			<div class="span6">
				<%= f.input :status, collection: Entry::STATUS_TAGS, include_blank: true %>
				<%= f.input :online, include_blank: true %>
				<%= f.input :bid_until, include_blank: true %>
			</div>
			<div class="span6">
				<%= f.input :decided, include_blank: true %>
				<%= f.input :expired, include_blank: true %>
				<%= f.input :orders_count, include_blank: true %>
			</div>
		<% end %>
	<% end %>
<% end %>
