<% title "Entries" %>

<% @entries.in_groups_of(4, false) do |row_entries| %>
	<div class="row show-grid">
		<% for entry in row_entries %>
			<%= div_for entry, class: 'span3' do %>
				<%= image_tag entry.photos.first.photo.url(:tiny), class: 'thumbnail' if entry.photos.present? %>
				<%= content_tag :p, entry.ref_no, class: 'small' %>
				<%= content_tag :p, entry.model_name %>
				<%= content_tag :p, entry.plate_no, class: 'small' %>
				<%= link_to 'Show', entry %>
				<%= link_to 'Edit', edit_entry_path(entry) %>
			<% end %>
		<% end %>
	</div>
<% end %>

<%= will_paginate @entries %>

<div class="well">
	<%= link_to "New Entry", new_entry_path, class: 'btn large primary' %>
</div>

