<%= form_for @var_company do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :creator_id %><br />
    <%= f.number_field :creator_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
