<%= form_tag bids_path(:entry_id => @entry), remote: true do %>

	<%= content_tag :table, class: 'table table-striped' do %>
		<%= content_tag :thead do %>
			<%= content_tag :th, 'Part Description', class: 'span4', rowspan: 2 %>
			<%= content_tag :th, 'Orig', class: 'span2 center' %>
			<%= content_tag :th, 'Rep', class: 'span2 center' %>
			<%= content_tag :th, 'Surp', class: 'span2 center' %>
			<%= content_tag :th, 'Status', class: 'span3 center', rowspan: 2 %>
		<% end %>
		<% @entry.line_items.order('status DESC').each_with_index do |item, index| %>
		<%= content_tag :tr do %>
			<%= content_tag :td, class: 'span4' do %>
				<%= content_tag :span, index + 1, class: 'label index'  %>
				<%= content_tag :span, item.part_name %>
				<%= "<br> #{content_tag :code, 'Specs: ' + item.specs}".html_safe if item.specs.present? %>
			<% end %>

					<%= content_tag :td, class: 'orig span2 center bids' do %>
						<% @orig ||= item.bids.map {|b| b if b.orig? } %>
						<% if @orig.present? %>
							<%= @orig.each { |bid| render bid if bid && current_user.company.users.include?(bid.user)} %>
						<% end %>
					<% end %>
						
					<%= content_tag :td, class: 'rep span2 center bids' do %>
					<% item.bids.map {|b| b if b.rep? }.each do |bid| %>
						<%= render bid if bid && current_user.company.users.include?(bid.user) %>
					<% end %>
					<% item.bids.map {|b| b if b.rep? }.last do |bid| %>
						<%= render bid if bid && !current_user.company.users.include?(bid.user) %>
					<% end %>
					<% end %>
						
					<%= content_tag :td, class: 'surp span2 center bids' do %>
					<% item.bids.map {|b| b if b.surp? }.each do |bid| %>
						<%= render bid if bid && current_user.company.users.include?(bid.user) %>
					<% end %>
					<% item.bids.map {|b| b if b.surp? }.last do |bid| %>
						<%= render bid if bid && !current_user.company.users.include?(bid.user) %>
					<% end %>
						<% end %>

			<%= content_tag :td, class: 'span3 center' do %>
				<%= content_tag :p, item.status, class: "label #{item.status_color}" %>
				<%= content_tag :p, "as of #{regular_date(item.updated_at)}", class: 'small' %>
				<%= link_to "PO# #{item.order_id}", item.order if item.order && item.order.seller == current_user %>
			<% end %>
		<% end %>
		<% end %>
	<% end %>

<div class="well">
	<%= link_to 'Other Online Entries', seller_online_path, class: 'btn' %>
	<%= submit_tag "Submit Bids", class: 'btn btn-primary floatright' if @entry.is_online %>
</div>
<% end %>
