<!-- <header> -->

  <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
	      <%= link_to 'E-Bid 4.0', root_path, class: 'brand' %>
         <div class="nav-collapse">
 					<% if user_signed_in? %>
						<% if can? :access, :all #current_user.role?(:admin) %>
							<%= render 'admin/nav' %>
						<% elsif can? :create, :entries #current_user.role?(:buyer) %>
							<%= render 'buyer/nav' %>
						<% elsif can? :create, :bids #current_user.role?(:seller) %>
							<%= render 'seller/nav' %>
						<% end %>
					<% end %>

					<ul class="nav pull-right">
						<% if user_signed_in? %>
							<%= content_tag :li, link_to("Logout #{current_user.username.upcase}", destroy_user_session_path, :method=>'delete') %>
						  <%= nav_link('Edit My Account', edit_user_path(current_user)) %>
						<% else %>
							<%#= nav_link('Login', new_user_session_path) %>
						  <%= nav_link('Register', new_user_path) %>
						<% end %>
		      </ul>
         </div>
       </div>
     </div>
   </div>

<!-- </header> -->
