<nav class="topbar" data-dropdown="dropdown" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="#">E-Bid</a>
      <ul class="nav">
				<%= content_tag :li, link_to('Entries', entries_path) %>
				<%= content_tag :li, link_to('Orders', orders_path) %>
				<%= content_tag :li, link_to('Bids', bids_path) %>
				<%= content_tag :li, link_to('Fees', fees_path) %>
				<%= content_tag :li, link_to('Messages', messages_path) %>
				<%= content_tag :li, link_to('Users', users_path) %>
				<%= content_tag :li, class: 'dropdown' do %>
					<%= link_to 'Vehicles', '#', class: 'dropdown-toggle' %>
					<ul class="dropdown-menu">
						<%= content_tag :li, link_to('Brands', car_brands_path) %>
						<%= content_tag :li, link_to('Models', car_models_path) %>
						<%= content_tag :li, link_to('Variants', car_variants_path) %>
					</ul>
				<% end %>
       </ul>

			<ul class="nav secondary-nav">
				<% if user_signed_in? %>
					<%= content_tag :li, link_to("Logout #{current_user.username.upcase}", destroy_user_session_path, :method=>'delete') %>
				<% else %>
					<%= content_tag :li, link_to('Login', new_user_session_path) %>
				<% end %>

				<% if user_signed_in? %>
				  <%= content_tag :li, link_to('Change Password', edit_user_registration_path) %>
				  <%= content_tag :li, link_to('Edit My Account', edit_user_path(current_user)) %>
				<% else %>
				  <%= content_tag :li, link_to('Sign Up', new_user_registration_path) %>
				<% end %>
      </ul>
    </div>
  </div>
</nav>


