<div class="photo-set">
	<%#= content_tag :h3, 'Photos' %>
	<% unless @entry.photos.blank? %>
		<%= content_tag :em, 'Click on photos to enlarge.' %>
		<ul class="unstyled">
			<% @entry.photos.each do |photo| %>
				<%= content_tag :li, class: "" do %>
					<% if photo.photo_processing? %>
						<%= image_tag 'image_placeholder.png', alt: "Photo of #{@entry.plate_no}" %>
					<% else %>
						<%= link_to((image_tag photo.photo.url(:tiny), alt: "Photo of #{@entry.plate_no}"), photo.photo.url(:large), rel: "#{@entry.id}", class: 'photo') %>
					<% end %>
				<% end %>
			<% end %>
		</ul>	
	<% else %>
		<%= content_tag :em, 'No photos submitted.' %> 
		<%= link_with_icon('Upload Photos', edit_entry_path(@entry), 'pencil', 'btn-info', true) %>
	<% end %>
</div>
