<div class="photo-set">
	<%#= content_tag :h3, 'Photos' %>
	<% unless @entry.photos.blank? %>
		<%= content_tag :em, 'Click on photos to enlarge.' %>
		<ul class="unstyled">
			<% @entry.photos.each do |photo| %>
				<%= content_tag :li, class: "" do %>
					<%# if photo.processing? %>
						<%#= image_tag 'image_placeholder.png', alt: "Photo of #{@entry.plate_no}" %>
					<%# else %>
						<%= link_to((image_tag photo.photo.url(:tiny), alt: "Photo of #{@entry.plate_no}"), photo.photo.url(:large), rel: "#{@entry.id}") %>
					<%# end %>
				<% end %>
			<% end %>
		</ul>	
	<% else %>
		<%= content_tag :em, 'No photos submitted.' %>
	<% end %>
</div>

<% content_for :javascripts do %>
	<%= javascript_include_tag 'fancybox/jquery.mousewheel-3.0.4.pack.js' %>
	<%#= javascript_include_tag 'fancybox/jquery.fancybox-1.3.4.pack.js' %>
	<% stylesheet 'fancybox/jquery.fancybox-1.3.4.css' %>
<% end %>