<% title "Ratings" %>

<table>
  <tr>
    <th>Order</th>
    <th>User</th>
    <th>Ratee</th>
    <th>Stars</th>
    <th>Review</th>
  </tr>
  <% for rating in @ratings %>
    <tr>
      <td><%= rating.order_id %></td>
      <td><%= rating.user_id %></td>
      <td><%= rating.ratee_id %></td>
      <td><%= rating.stars %></td>
      <td><%= rating.review %></td>
      <td><%= link_to "Show", rating %></td>
      <td><%= link_to "Edit", edit_rating_path(rating) %></td>
      <td><%= link_to "Destroy", rating, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Rating", new_rating_path %></p>
