<%= content_tag :thead do %>
	<%= content_tag :tr do %>
		<%= content_tag :th, 'Vehicle', class: 'span4' %>
		<%= content_tag :th, 'Buyer', class: 'span2' %>
		<%= content_tag :th, 'Seller', class: 'span2' %>
		<%= content_tag :th, 'Details', class: 'span4 txtcenter' %>
		<%= content_tag :th, 'Status', class: 'span3 txtcenter' %>
	<% end %>
<% end %>


<%= content_tag :tbody do %>
	<% @orders.group_by{ |o| o.created_at.beginning_of_day }.each do |date, grouped_orders| %>
		<%= content_tag :tr, class: 'well' do %>
			<%= content_tag :td, colspan: 6 do %>
				<%= content_tag :h5, regular_date(date) %>
			<% end %>
		<% end %>
	
		<% grouped_orders.group_by(&:entry).each do |entry, orders| %>

		<%= content_tag :tr do %>
			<%= content_tag :td, class: 'span4', rowspan: orders.count + 1 do %>
				<%= content_tag :p, entry.ref_no, class: 'small' %>
	      <%= content_tag :p, link_to(entry.model_name, entry)  %>
				<%= content_tag :span, entry.plate_no %>
				<%= content_tag :em, "by #{entry.user.username}", class: 'small' %>
			<% end %>
		<% end %>

		<% for order in orders %>
			<%= content_tag :tr do %>
				<%= content_tag :td, order.company.nickname, class: 'span2' %>
				<%= content_tag :td, order.seller.nickname, class: 'span2' %>
				<%= content_tag :td, class: 'span3 txtcenter' do %>
					<%= content_tag :b, currency(order.order_total) %>
					<%= content_tag :span, pluralize(order.items_count, 'part'), class: 'small' %>
					<%= content_tag :p, link_to("PO##{order.id}", order) %>
					<% if order.messages.present? %>
					<span class='highlight'>
						<%= content_tag :i, '', class: 'icon-comment' %>
						<%= order.messages.size %>
					</span>
					<% end %>
				<% end %>
				<%= content_tag :td, class: 'span3 txtcenter' do %>
					<%= order_status_helper(order) %>
					<%= content_tag :p, "as of #{regular_date(order.status_date)}", class: 'small' %>
					<%= change_status_link(order) %>
					<%= confirm_payment_link(order, current_user) %>
					<%= payment_tag(order) %>
				<% end %>
			<% end %>
		<% end %>
	
		<% end %>
	
	<% end %>
<% end %>
