<%= form_for @company, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Company</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :nickname, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :nickname, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :primary_role, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :primary_role, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :trial_start, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :trial_start, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :trial_end, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :trial_end, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :metering_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :metering_date, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :perf_ratio, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :perf_ratio, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', companies_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
