<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= content_tag :div, class: 'clearfix' do %>
		<%= f.label :username %>
	  <%= f.text_field :username %>
	<% end %>

	<%= content_tag :div, class: 'clearfix' do %>
		<%= f.label :password %>
	  <%= f.password_field :password %>
	<% end %>

  <%#= render :partial => 'remember' %>

	<%= content_tag :div, class: 'actions' do %>
  <%= f.submit "Sign in", class: 'btn primary' %> or
	<%= render :partial => "devise/shared/links" %>
	<% end %>
<% end %>

