<%= simple_form_for @car_brand, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Car Brand</legend>

    <%= f.association :car_origin %>
    <%= f.input :name %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', car_brands_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
