<%= simple_form_for @car_part, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Car Part</legend>
		<%= hidden_field_tag :entry, params[:id] %>
		
		<%= f.input :name, :label => 'Part Name' %>
		<% if can? :access, :all %>
			<%= f.input :creator_id, collection: Company.includes(:users), as: :grouped_select, group_label_method: :nickname, group_method: :users, label_method: :username %>
    <% else %>
	     <%= f.input :creator_id, collection: Company.includes(:users), as: :grouped_select, group_label_method: :nickname, group_method: :users, label_method: :username, disabled: true %>
		<% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', add_line_items_path(id: params[:id]), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
