<% if @car_parts.count > 0 %>
	<%= content_tag :h3 do %>
		Search Results
		<%= content_tag :small, 'arranged by relevance' %>
	<% end %>
	<% if params %>
		<%#= content_tag :h4, "#{content_tag :b, (pluralize @car_parts.count, 'part')} were found using your search keyword: #{content_tag :em, params[:query], class: 'highlight'}".html_safe %>
		<%= content_tag :p, 'Click on the part to put it in your parts list.' %>
	<% end %>

	<%= will_paginate @car_parts, id: 'parts-pagination', previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 1, remote: true %>

	<ul class="unstyled parts">
	<% @car_parts.results.in_groups_of(16, false).each do |car_part_array| %> 
		<%= content_tag :div, class: 'row' do %>
			<% car_part_array.in_groups_of(8, false).each do |parts| %>
				<%= content_tag :div, class: 'span3 set' do %>
					<% parts.each do |p| %>
						<%= content_tag :li, select_link(p, @entry) %> 
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		<!-- <hr> -->
	<% end %> 
	</ul>

	<%= will_paginate @car_parts, id: 'parts-pagination', previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 1, remote: true %>

<% else %>
	<%= content_tag :h3 do  %>
		Sorry, the keyword-combination <%= content_tag :em, params[:query], class: 'highlight' %> could not be found. 
		<%= content_tag :small, 'Please check your spelling OR try another keyword.' %>
	<% end %>
<% end %>

<div class="well txtcenter">
	<%= content_tag :b, "Please SEARCH the parts thoroughly. Don't be lazy!" %>
	<%= content_tag :p, 'Add new parts only as a LAST RESORT to avoid duplication.' %>
	<%= link_to 'Add New Part', new_car_part_path(id: @entry), class: 'btn', rel: 'tooltip', data: {'original-title' => 'Please SEARCH the parts thoroughly. Add new parts only as a LAST RESORT to avoid duplication.'} %>
</div>

