<h1>Car Part</h1>

<p>
  <b>Name</b><br>
  <%= @car_part.name %>
</p>

<p>
  <b>Creator</b><br>
  <%= @car_part.creator_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', car_parts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_car_part_path(@car_part), :class => 'btn' %>
  <%= link_to 'Delete', car_part_path(@car_part), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
