<%= content_tag :h2, 'Generate Comparative Evaluation' %>

<%= form_tag entry_variances_path(entry_id: @entry), method: :post, remote: true do %>
	<div class="well">
		<div id="" class="row">
			<div class="span3">
				<%= content_tag :label, 'Source of Canvass' %>
				<%= select_tag(:var_company, options_for_select(@var_companies), prompt: 'Choose Source/Shop' ) %>
			</div>
			<div class="span2">
				<%= content_tag :label, 'Discount' %>
				<%= select_tag(:discount, options_for_select(@available_discounts), include_blank: true ) %>
			</div>
		</div>
	</div>
	<table class="table table-condensed table-striped">
		<thead>
			<%= content_tag :th, 'Parts' %>
			<%= content_tag :th, 'Qty', class: 'txtcenter' %>
			<%= content_tag :th, class: 'txtcenter' do %>
				<%= content_tag :p, 'Your Canvass' %>
				<%= content_tag :b, 'Unit Price', class: 'label label-important' %>
			<% end %>
			<%= content_tag :th, 'Type', class: 'txtcenter' %>
		</thead>
		<% @entry.line_items.each_with_index do |item, index| %>
			<tr>
				<%= content_tag :td, class: 'span3' do %>
					<%= content_tag :span, index + 1, class: 'label index'  %>
					<%= content_tag :span, item.name %>
					<%= content_tag :span, item.id %>
				<% end %>
				<%= content_tag :td, (text_field_tag "items[#{item.id}][qty]", item.quantity, class: 'span1 txtcenter'), class: 'span1 center' %>
				<%= content_tag :td, class: 'txtcenter', data: { content: "#{var_tooltip}", "original-title" => "#{var_title}" }, rel: "popover" do %>
					<%= content_tag :p, (text_field_tag "items[#{item.id}][amt]", nil, class: 'span2 txtright') %>
				<% end %>
				<%= content_tag :td, class: 'txtcenter' do %>
					<% %w(original replacement surplus).each do |type| %>
						<% if type == 'original' %>
							<%= (radio_button_tag "items[#{item.id}][type]", type, true) %>
						<% else %>                                        
							<%= radio_button_tag "items[#{item.id}][type]", type %>
						<% end %>
						<%= content_tag :span, type.titleize, class: 'small' %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>

	<%= submit_tag 'Compute' %>	
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag 'bootstrap-tooltip' %>
	<%= javascript_include_tag 'bootstrap-popover' %>
	<script type="text/javascript" charset="utf-8">
		$('td').popover();
	</script>
<% end %>
