<%= simple_form_for [@entry, @variance] do |f| %>
	<div class="well">
		<div class="row">
			<div class="span3">
				<%= f.input :var_company, collection: @var_companies, label: 'Source of Canvass' %>
			</div>
			<div class="span2">
				<%= content_tag :p, 'Discount' %>
				<%= select_tag(:discount, options_for_select(@available_discounts), include_blank: true ) %>
			</div>
		</div>
	</div>

	<%= simple_fields_for :var_items do |vi| %>
	<table class="table table-condensed table-striped">
		<thead>
			<%= content_tag :th, 'Parts' %>
			<%= content_tag :th, 'Qty', class: 'txtcenter' %>
			<%= content_tag :th, class: 'txtcenter' do %>
				<%= content_tag :p, 'Your Canvass' %>
				<%= content_tag :b, 'Full Unit Price', class: 'label label-important' %>
			<% end %>
			<%= content_tag :th, 'Canvass Type', class: 'txtcenter' %>
		</thead>
		<% @entry.line_items.each_with_index do |item, index| %>
			<tr>
				<%= content_tag :td, class: 'span3' do %>
					<%= content_tag :span, index + 1, class: 'label index'  %>
					<%= content_tag :span, item.name %>
					<%#= content_tag :span, item.id %>
				<% end %>
				<%= content_tag :td, (vi.input :qty, label: false, input_html: { value: item.quantity, class: 'span1 txtcenter' }), class: 'span1 center' %>
				<%= content_tag :td, class: 'txtcenter', data: { content: "#{var_tooltip}", "original-title" => "#{var_title}" }, rel: "popover" do %>
					<%= vi.input :amount, label: false, input_html: { class: 'span2 txtright' } %>
				<% end %>
				<%= content_tag :td, class: 'txtcenter' do %>
					<% %w(original replacement surplus).each do |type| %>
						<% if type == 'original' %>
							<%= (radio_button_tag "items[#{item.id}][type]", type, true) %>
						<% else %>                                        
							<%= radio_button_tag "items[#{item.id}][type]", type %>
						<% end %>
						<%= content_tag :span, type.titleize, class: 'small' %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
	<% end %>
	<div class="txtcenter">
		<%= f.submit 'Compute', class: 'btn btn-primary btn-large span4' %>	
	</div>
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" charset="utf-8">
		$('td').popover();
	</script>
<% end %>
