<div id="recent-messages" class="">
	<%= content_tag :h4, 'Latest Messages for You' %>
	<%= content_tag :dl do %>
		<% @global_messages.each do |m| %>
			<%= content_tag :dt, class: "" do %>
				<%= "#{m.user_type.titleize} ##{m.user_id} said" %>
				<%= content_tag :span, regular_date(m.created_at), class: 'pull-right' %>
			<% end %>
			<%= content_tag :dd, class: "" do  %>
				<%= shorten(m.message, 50) %><br>
				<%= link_to 'more ...', (m.order_id.present? ? m.order : m_entry_link(m.entry, m.id)) %>
			<% end %>
		<% end %>
	<% end %>
</div>
