<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= content_for?(:title) ? "E-Bid | #{yield(:title)}" : "E-Bid Inc." %></title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
			<%= javascript_include_tag 'html5shiv.js' %>
    <![endif]-->

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <link href="/assets/favicon.ico" rel="shortcut icon">
  </head>
  <body class="<%= params[:controller] %>">
    <%= render 'shared/navigation' %>
    <div class="container">
     <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: "alert alert-block alert-#{name}" if msg.is_a?(String) %>
     <% end %>

			<div class="row">
				<div class="span9">
					<div class="page-header">
						<%= content_tag :h1 do %>
							<%= yield(:title) %>
							<%= yield(:subtitle).html_safe %>
						<% end %>
					</div>
			      <%= yield %>
				</div>
				<div class="span3">
			    	<div class="well sidebar">
						<%= yield(:sidebar) %>
			     </div>
					<%= yield(:sidebar2) %>

					<% if current_user %>
						<%= render 'layouts/chatbox' %>
					<% end %>
				</div>
			</div>
			
			<hr>
			<footer>
				<p><strong>Copyright &copy; 2006-<%= Time.now.year -%> E-Bid, Inc.</strong>   All rights reserved.</p>
	    </footer>
    </div>
		<div id="javascripts">
	    <%= javascript_include_tag "application" %>
			<%= yield(:javascripts) %>
		</div>
		<div class="spinner" style="display:none" >
			<%= image_tag 'ajax-loader.gif', width: 150, height: 150  %>
		</div>
  </body>
</html>