<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "E-Bid | #{yield(:title)}" : "E-Bid Inc." %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= params[:controller] %>">
        <%= render 'shared/navigation' %>
    <div class="container">
	     <% flash.each do |name, msg| %>
	       <%= content_tag :div, msg, class: "alert alert-block alert-#{name}" if msg.is_a?(String) %>
	     <% end %>
				<div class="row">
					<div class="span9">
						<div class="page-header">
							<%= content_tag :h1 do %>
								<%= yield(:title) %>
								<%= yield(:subtitle).html_safe %>
							<% end %>
						</div>
		        <%= yield %>
					</div> <!-- end of span12 -->
					<div class="span3">
			     	<div class="well sidebar">
							<%= yield(:sidebar) %>
			      </div>
						<%= yield(:sidebar2) %>
						<%= yield(:search_form) %>
						<% if current_user %>
							<h3>Latest Messages</h3>
							<%= content_tag :dl do %>
								<% @global_messages.each do |m| %>
									<%#= render 'messages/msg_line', m: m, k: nil %>
								<% end %>
							<% end %>
							
							
						<% end %>
					</div> <!-- end of span4 -->
				</div>
    </div> <!--! end of .container -->
      <footer>
      </footer>
		<div id="javascripts">
	    <%= javascript_include_tag "application" %>
			<%= yield(:javascripts) %>
		</div>
  </body>
</html>