<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? "Print | " + yield(:title) : "E-Bid Inc. - The Philippines' Vehicle Parts Auction Hub" %>
    </title>
		<%= stylesheet_link_tag 'bootstrap', 'print', media: 'all' %>
    <%= csrf_meta_tag %>
		<link rel="shortcut icon" href="/images/base/favicon.ico" />
		<%= yield(:head) %>
  </head>

  <body>
		<div id="print-header">
			<%= link_to (content_tag :h1, "E-Bid Auto Parts Auction System"), root_path %>
			<div id="print-nav" class="btn-group">
	     	<%= link_with_icon("", :back, 'backward') %>
	    	<%= link_with_icon("", root_path, 'home') %>
				<%= link_with_icon('Print', '#', 'print', nil, false, true) %>
			</div>
		</div>
 		<div class="container">
			<%= content_tag :h1 do %>
				<%= yield(:title) %>
				<%= yield(:subtitle).html_safe %>
			<% end %>
	
      <%= yield %>
			<hr>
			<p><strong>Copyright &copy; 2006-<%= Time.now.year -%> E-Bid, Inc.</strong>   All rights reserved.</p>
    </div>
  </body>
</html>
