<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
      <%= content_for?(:title) ? "Print | " + yield(:title) : "E-Bid Inc. - The Philippines' Vehicle Parts Auction Hub" %>
    </title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
			<%= javascript_include_tag 'html5shiv.js' %>
    <![endif]-->

		<%= stylesheet_link_tag 'print', media: 'all' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <link href="/assets/favicon.ico" rel="shortcut icon">
  </head>

  <body class="<%= params[:controller] %>">
		<div id="print-header">
			<%= link_to (content_tag :h1, "E-Bid Auto Parts Auction System"), root_path %>
			<div id="print-nav" class="btn-group span2">
	     	<%= link_with_icon("", :back, 'backward') %>
	    	<%= link_with_icon("", root_path, 'home') %>
				<%= link_with_icon('Print', '#', 'print', nil, false, true) %>
			</div>
		</div>
 		<div class="container">
			<%= content_tag :h1 do %>
				<%= yield(:title) %>
				<%= yield(:subtitle).html_safe %>
			<% end %>
	
      <%= yield %>
			<hr>
			<%= content_tag :p, class: 'small' do %>
				<%= content_tag :strong, "Copyright &copy; 2006-#{Time.now.year} E-Bid, Inc.".html_safe %>
				All rights reserved.
			<% end %>
    </div>
		<div id="javascripts">
	    <%= javascript_include_tag "application" %>
		</div>
  </body>
</html>
